# .editorconfig

root = true

[*]
indent_style = space
indent_size = 4
continuation_indent_size = 4
insert_final_newline = true
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[*.kt]
max_line_length = 200

[*.kts]
max_line_length = 200
[build.gradle]
max_line_length = off

